@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.seprator{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img{
    width: 280px;
}

.about .info h3{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: #ccc;
    font-size: 20px;
}

.about .info button{
    margin-top: 30px;
}

/* ----------------------------------------------------*/
.about1{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about1 .info li{
    color: #ccc;
    font-size: 20px;
}

/*----------------------------*/

.formation h5{
  margin-top: 20px;
  margin-bottom: 10px;
}


h1{
  color: white;
  margin-top: 0;
  margin-bottom: 2px;

}

table{
  color:white;
  font-size:20px;
  margin-top: 10px;
}

table th{
  text-align: center;
}

table td{
  padding-left: 7px;
}

/*--------------------------------------------------------------------------*/

@media screen and (max-width: 780px) {

    .navbar button{
        display: none;
    }
    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
     .about1{
        flex-wrap: wrap;
        justify-content: center;
     }

}

@media screen and (max-width: 650px) {

    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

}