@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
}

/* 커스텀 */
textarea {
  width: 100%;
}

input[type=submit], /* 태그가 input이고 type이라는 속성이 있고, 그 값이 submit인 녀석*/
button[type=submit] {
  /* 태그가 button이고 type이라는 속성이 있고, 그 값이 submit인 녀석*/
  margin-top: 10px; /* 상단 바깥 여백 10px */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #44505c;
  color:black;
}

.navbar{
  border-bottom: solid #ffb742;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;

}

.navbar h2{
  padding-left: 500px;
  margin-left: 350px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #ffb742;
  font-weight: 600;
}

.navbar ul{
  display: flex;
  text-align: right;
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a{
  color: #ffb742;
}

.navbar ul li:last-child a{
  margin: 0;
}









