<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="home_style.css">

  <title>김명현 자기소개서</title>
  <div class="navbar">
    <h2>자기소개서</h2>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/question/list">Portfolio board</a></li>
      <li><a href="#">login</a></li>
      <li><a href="/user/signup">join</a></li>
    </ul>
  </div>
</head>

<body>
<h5 class="seprator">Who I Am</h5>
<div class="about">
  <img class="img" src="김명현.jpg" />
  <div class="info">
    <table class="myself">
      <tbody class="myself1">
      <tr>
        <th scope="row">Birthday :</th>
        <td>1995.09.06</td>
      </tr>
      <tr>
        <th scope="row">Eamil :</th>
        <td>dhvlftmd7013@naver.com</td>
      </tr>
      <tr>
        <th scope="row">Address :</th>
        <td>경기도 고양시 덕양구 화정로 69</td>
      </tr>
      <tr>
        <th scope="row">병역사항 :</th>
        <td>군필(육군)</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h5 class="seprator">About me</h5>
<div class="about1">
  <p>안녕하십니까 저는 DevOps Engineer를 꿈꾸는 김명현입니다.</p>
  <button class="hire-btn">Hire Me</button>
</div>


<h5 class="seprator">project</h5>
<div class="main">
  <div class="main1">
    <h4>프로젝트 경험</h4>

    <table class="pro1">
      <thead>
      <th scope="row" class="pro1" style="border-bottom: none; font-size: 25px; text-align: center;">프로젝트 제목 : </th>
      <td style="border-bottom: none; font-size: 25px; text-align: center;">Docker image 사용한 grafana & Prometheus 로
        시각화</td>
      </thead>
    </table>
    <table>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>작업기간</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>인력 구성</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>프로젝트 목적</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>사용언어 및 개발환경</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>느낀점</td>
        <td class="con">내용</td>
      </tr>
      </tbody>
    </table>

    <table class="pro2">
      <thead>
      <th scope="row" class="pro1" style="border-bottom: none; font-size: 25px; text-align: center;">프로젝트 제목 : </th>
      <td style="border-bottom: none; font-size: 25px; text-align: center;">Docker image 사용한 grafana & Prometheus 로
        시각화</td>
      </thead>
    </table>
    <table>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>작업기간</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>인력 구성</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>프로젝트 목적</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>사용언어 및 개발환경</td>
        <td class="con">내용</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>느낀점</td>
        <td class="con">내용</td>
      </tr>
      </tbody>
    </table>
    <button class="hire-btn">Hire Me</button>
  </div>
</div>


<h5 class="seprator">My Skills</h5>
<div class="skillset">

  <table class="skillpro1">
    <thead>
    <th>기술 스택</th>
    <td>Skill Set</td>
    </thead>

    <tbody class="imoti">
    <tr>
      <th scope="row">Language</th>
      <td class="bx bxl-java"></td>
      <td class="bx bxl-python"></td>
      <td class='bx bxl-javascript'></td>
    </tr>

    <tr>
      <th scope="row">FrontEnd</th>
      <td class="bx bxl-java"></td>
      <td class="bx bxl-python"></td>
    </tr>

    <tr>
      <th scope="row">BackEnd</th>
      <td class='bx bxl-spring-boot'></td>
      <td>Mysql</td>
      <td>MariaDB</td>
    </tr>

    <tr>
      <th scope="row">DevOps</th>
      <td  class='bx bxl-docker'></td>
      <td class='bx bxl-kubernetes'></td>
      <td>Ansible</td>
      <td>Prometheus</td>
      <td>Grafana</td>
      <td>Jenkins</td>
      <td>ElasticSearch</td>
    </tr>

    <tr>
      <th scope="row">ETC</th>
      <td class='bx bxl-github'></td>
      <td class='bx bxl-gitlab'></td>
      <td class='bx bxl-git'></td>
    </tr>

    </tbody>
  </table>
</div>

<footer>
  <div class="container py-3 d-flex justify-content-center"></div>
  <p>THANK YOU</p>
</footer>
</body>

</html>