
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="C:\Users\user\Desktop\exam\JS\css\style.css">

  <title>김명현 자기소개서</title>
  <div class="navbar">
    <h2>자기소개서</h2>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/question/list">Portfolio board</a></li>
      <li><a href="#">login</a></li>
      <li><a href="#">join</a></li> 
    </ul>
  </div>
</head>

<body>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<footer>
  <div class="container py-3 d-flex justify-content-center">
    copyright all rights reserved
  </div>
</footer>

</body>
</html>
