<html lang="ko"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout}">

<div layout:fragment="content">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/login_style.css}">
  </head>


  <div class="body">

    <form th:action="@{/user/login}" method="post">
      <div class="circle"></div>
      <div class="card">
        <h2>Login</h2>
        <div th:if="${param.error}">
          <div>사용자ID 또는 비밀번호를 확인해 주세요.</div>
        </div>

        <div class="form">
          <input type="text" name="username" placeholder="Name" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </div>

        <footer>
          회원이 아니신가요?
          <a th:href="@{/user/signup}">Here</a>
        </footer>

      </div>
    </form>

  </div>
</div>
</html>