<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
<div layout:fragment="content" class="container my-5 d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 style="color:black" class="card-title text-center">Login</h5>
        <form th:action="@{/user/login}" method="post">
          <div class="mb-3">
            <label style="color:black" for="username" class="form-label">사용자ID</label>
            <input type="text" id="username" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label style="color:black" for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/user/signup" class="btn btn-secondary">Join</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
