<html lang="ko"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout}">

<div layout:fragment="content">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/join.css}">
  </head>

  <div class="body">
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="card">
        <h1>Join</h1>
        <div th:if="${param.error}">
          <div>사용자ID 또는 비밀번호를 확인해 주세요.</div>
        </div>

        <div class="form">
          <input type="text" th:field="*{username}" placeholder="UserID">
          <input type="password" th:field="*{password1}" placeholder="Password">
          <input type="password" th:field="*{password2}" placeholder="Password">
          <input type="email" th:field="*{email}" placeholder="email">
          <button type="submit">회원가입</button>
        </div>

        <footer>
          회원이신가요?
          <a th:href="@{/user/login}">Here</a>
        </footer>

      </div>
    </form>
  </div>
</div>
</html>